table td {
	line-height: 1.1 !important;
	position: relative;
}

.client-name{
	max-width: 220px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}