a:hover{
	cursor:pointer;
}

.search{
	width:200px;
}

.offer-panel{
	position: absolute;
	width: 90px;
	right: 0;
	top: 0;
	background-color: #f4f4f4;
	padding-right: 0.5em;
	text-align: right;
}

.offer-name, .client-name{
	max-width: 220px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table td{
	line-height: 1 !important;
	position: relative;
}