a:hover{
	cursor:pointer;
}

.search{
	// width:200px;
	width:300px;
}

.offer-name, .client-name{
	max-width: 220px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table td{
	line-height: 1 !important;
	position: relative;
}