$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-chf: "\e908";
$icon-byn: "\e907";
$icon-uah: "\e901";
$icon-hryvnia: "\e901";
$icon-kzt: "\e900";
$icon-tenge: "\e900";
$icon-cny: "\e902";
$icon-jpy: "\e902";
$icon-rmb: "\e902";
$icon-yen: "\e902";
$icon-gbp: "\e903";
$icon-dollar: "\e904";
$icon-usd: "\e904";
$icon-rouble: "\e905";
$icon-rub: "\e905";
$icon-ruble: "\e905";
$icon-eur: "\e906";

