.currencies-table .prop-default {
  width: 80px;
}

.offer-panel {
  position: absolute;
  width: 40px;
  right: 0;
  top: 0;
  background-color: #f4f4f4;
  padding-right: 0.5em;
  text-align: right;
}

table td {
  line-height: 1 !important;
  position: relative;
}

